{
  "s3Bucket": "",
  "localDirectory": "",
  "webpageFile": "",
  "subscriptionsFile": "subscriptions.json",
  "webpageEmail": "",
  "menuFiles": [
    "example.json"
  ],
  "defaultFilters": [
    "burgare"
  ]
}